<div mat-dialog-title>
    <h1>Formulário de Agendamento</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Placeholder" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Defina Data</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-hint>Mes/Dia/Ano</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Hora</mat-label>
                <input matInput placeholder="Placeholder" formControlName="hour">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" formControlName="email">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Placeholder" formControlName="tel">

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">

            </mat-form-field>
        </div>
        <br>
        <br>
        <div class="row">
            <button class="save" mat-stroked-button>Cancel</button>
            <button mat-stroked-button type="submit">Salvar</button>

        </div>

    </div>
</form>